.footer {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}

.subtitle {
    font-family: "Funnel Display";
    color: #e07777;
    padding: 1%;
    margin: 0;
    line-height: 200%;
    font-size: medium;
    font-weight: 700;
}

.imageFooter {
    margin-top: 5%;
    width: 90vw;
}