.header {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}

.title {
    font-family: "Funnel Display";
    font-size: 450%;
    /* color: linear-gradient(#FFF18A, #FFFFFF); */
    background: -webkit-linear-gradient(#fff5ad, #FFFFFF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 2%;
    text-shadow: 0px 0px 9px #fffbce;
}

.subtitleTop {
    font-family: "Funnel Display";
    font-size: 150%;
    color: #e07777;
    padding: 0.5%;
    margin: 0;
}

.image {
    width: 90vw;
}