.header {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}

.title {
    font-family: "Funnel Display";
    /* color: linear-gradient(#FFF18A, #FFFFFF); */
    background: -webkit-linear-gradient(#fff5ad, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 3%;
    text-shadow: 0px 0px 9px #fffbce;
}

.subtitle {
    font-family: "Funnel Display";
    color: #e07777;
    padding: 1%;
    margin: 0;
}

.image {
    height: 15vh;
    width: 90vw;
}